/*  your css code here. If applicable */


#yellow{
    border:1px solid green	
}
#yellow{
    background-color:yellow	
}

#red{
	border:1px solid black
}
#red{
	 background-color:red
}

#green{
	border:1px solid yellow	
}

#green{
	 background-color:green
}